@page
@model first_project_razor.Pages.Categories.DetailsModel

Hello @Model.Category.Name

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Category Details</h2>
        <hr />
    </div>

    <div class="mb-3">
        <label asp-for="Category.Name"></label>
        <input asp-for="Category.Name" disabled class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Category.DisplayOrder"></label>
        <input asp-for="Category.DisplayOrder" disabled class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Category.CreateDateTime"></label>
        <input asp-for="Category.CreateDateTime" disabled class="form-control" />
    </div>
    <a asp-page="/Categories/Index" class="btn btn-secondary" style="width:150px">
        Back To List
    </a>
</div>